@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$size: 25vmin;


@mixin roundedEdgeObject() {
  display: flex;
  font-family: 'Press Start 2P', cursive;
  border-radius: 10px;
  padding: 10px;
}
@mixin centeredObjects() {
  justify-content: center;
  align-items: center;
}


@keyframes interference {
  to { transform: translateY(-0.3em) translateZ($size*1.02); }
}


#tvcontainer::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  right:0;
  background-image: linear-gradient(
    rgba(0,0,0,.2) 0px,
    rgba(0,0,0,0) 1px,
    rgba(0,0,0,.5) 2px,
    rgba(0,0,0,.1) 5px
  );
  background-size: 100% 3px;
  animation: .1s interference steps(4) infinite;  
  z-index: 2;
  transform:translateZ($size);
}
#tvcontainer {
  display: flex;
  overflow: visible;
  height: 70vh;
  margin-top: 2%;
  margin-left: 1.635%;
  scale: 80%;
  background-color: rgba(31, 31, 31);
  @include roundedEdgeObject();
  border-radius: 40px / 50px;
  @include centeredObjects();
  flex-direction: column;
  z-index: 1;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}

#fullscreen {
  display: block;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  justify-content: center;

  border-radius: 10px;
  height: 95cqmin;
  width: 95vmin;
}


.container {
  @include roundedEdgeObject();
  @include centeredObjects();
}





.row {
  @include roundedEdgeObject();
  margin: 5px;
  max-width: 95cqmax;
  max-height: 95cqmax;
  flex-direction: row
}
.col {
  @include roundedEdgeObject();
  flex: 50%;
  max-width: 95cqmax;
  max-height: 95cqmax;
  justify-content: center;
  flex-direction: column;
}
